name: chat_ai_app
description: Chat AI application amin'ny Flutter
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  provider: ^6.1.1
  shared_preferences: ^2.2.2
  intl: ^0.18.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.13.1
  flutter_launcher_name: ^0.0.1

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/icon.png"
  
flutter:
  uses-material-design: true
  assets:
    - assets/icon.png
